<div class="center jumbotron jumboIndex">
  <h2 class="text-center">Fruits and Vegetables</h2>
</div>
<%= render "layouts/flash" %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <p><%= link_to "Add an Item", new_vegetable_path, class: "btn btn-success" %></p>
        <table>
          <tr>
            <th class="boldText">Fruit and Vegetables</th>
          </tr>
          <% @veggies.each do |veg| %>
            <tr>
              <td class="itemsFont"><%= veg.item %><td>
              <td><%= link_to "Edit Item", edit_vegetable_path(veg), class: "btn btn-primary bdr" %></td>
              <td><%= link_to "Delete Item", vegetable_path(veg), method: :delete, data: {confirm: "Deleted" }, class: "btn btn-danger bdr" %></td>
            </tr>
          <% end %>
        </table>
       
      </div>
    </div>
  </div>
</div>